.search-wrap {

    margin-inline: 24px;
    margin-top: 12px;
    align-items: center;
    display: none;



}

.search {
    display: flex;
    /* width: 80%; */
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    justify-content: center;
    /* height: 100%; */
    min-height: 56px;

    padding-inline: 12px;
    align-items: center;
    border-radius: 40px;
    gap: 8px;
    border-color: rgba(0, 0, 0, 0.08);
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    /* width: 100%;
    max-width: 100%; */

}

.search button {
    background: none;
    border: none;
    line-height: 20.02px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 0px 4px;
    gap: 8px;
    max-width: 100%;
    position: relative;
}
.search span{
    font-family: 'bold';
    /* font-weight: 500; */
    padding-left: 2px;
    text-align: center;
    place-content: center;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    /* line-height: 1.43; */
}

